.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.fa-shopping-cart {
  color: white;
  font-size: 30px;
}

.badge-primary {
  font-size: 12px;
  vertical-align: top;
}

.noCount {
  cursor: pointer;
  font-size: 20px;
  color: grey;
}
.fa-cart-plus:hover {
  color: black;
}
.activeCart {
  cursor: pointer;
  font-size: 20px;
  color: black;
}

.table {
  text-align: center;
}

.fas {
  font-size: 20px;
}

.fa-edit, .fa-trash {
  cursor: pointer;
}
.fa-trash:hover {
  color: red;
}
.editLink {
  color: black;
}